.hero{
    
    min-height: 70vh;
    background:linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url(../../assets/Images/H1.jpg) ;
    width:100%;

    background-size: cover;
    
    height: 100vh;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}

